@import 'normalize.css';
// @import "~element-ui/packages/theme-chalk/src/base";
@import '~element-ui/packages/theme-chalk/src/index';
@import 'nprogress/nprogress.css';

.base-form-drawer {
  .el-drawer {
    max-width: 100%;
  }

  .el-drawer,
  .el-drawer__header span,
  .el-drawer__header button {
    outline: none;
  }

  .el-drawer__header {
    color: #fff;
    background-color: $--color-default;
    margin: 0;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  }

  .el-drawer__body {
    height: calc(100vh - 72px);
    overflow-y: auto;
  }

  .el-drawer__close-btn {
    font-size: 26px;
  }
}

.fade-transform-enter-active,
.fade-transform-leave-active {
  transition: all 0.2s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all 0.2s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}
